<div>
    <div class="tt-c" class="ng-scope" ng-app="myApp" ng-controller="companies">
        <div id="headermenu" ng-include="'views/header.html'"></div>
        <div ng-if="response!={}" class="project_list">
            <h1>
                List of companies
            </h1>
            <div>
                <form>
                    <div class="form-group">
                        <div class="col-md-7">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                                <input type="text" focus class="form-control" placeholder="Search by company name" ng-model="filterData">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-12">
                <div class="table-responsive">

                	<div class="list-group" style="margin-top: 20px;">
						  <button ng-repeat="value in response" type="button" class="list-group-item list-group-item-action" ng-click="setSharedData(value.companyName)">{{value.companyName}}</button>
					</div>

                	<!-- <ul class="list-group">
                		<li class="list-group-item" ng-repeat="value in response">{{value.companyName}}</li>
                	</ul> -->
                </div>
            </div>
            <div ng-if="abc" class="text-center">
                <img src="../images/ajax-loader.gif" />
            </div>
        </div>
    </div>
</div>